@import url(http://fonts.googleapis.com/css?family=Karla:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

body .wrapper {
  max-width: 1200px;
  margin: 0 auto; }
body .header {
  background-image: url("BIG-WATCH CROPPED COLORED.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  position: relative;
  font-family: 'Karla', sans-serif; }
  body .header nav {
    color: white; }
    body .header nav a {
      color: white;
      text-transform: uppercase;
      font-weight: 100; }
      body .header nav a:hover {
        color: #d0ffec;
        text-decoration: none;
        cursor: pointer;
        border-bottom: 3px solid #d0ffec; }
    body .header nav li {
      margin: 30px 30px 0px 0px; }
  body .header .top-banner {
    color: #eda600;
    background-color: #ffffff;
    height: 60px;
    font-size: 14px;
    margin-bottom: 20px; }

    body .header .top-banner p {
      }
  body .header .header-text {
    position: absolute;
    top: 40%;
    color: white;
    width: 100%; }
body .featured-collections img {
  position: relative; }
body .featured-collections h3 {
  position: absolute;
  color: white;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0; }
body .free-shipping img {
  position: relative; }
body .free-shipping span {
  position: absolute;
  color: white;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 30px; }
body .free-shipping strong {
  font-size: 50px;
  text-transform: uppercase; }
body .content {
  width: 100%;
  border-bottom: 1px solid #666666;
  }
body .footer {
  background-image: url("footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  max-width: 900px;
  margin: 0 auto;
  opacity: 0.7;
  padding-top: 50px;
  padding-bottom: 20px;
  position: relative; }
  body .footer a {
    color: black; }

.logo {
  margin-left: 65px; }

.main-nav {
  height: 70px;
  background-color: rgba(56, 56, 56, 0.5);
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0 50px; }
  .main-nav ul {
    margin-left: 100px; }
  .main-nav li {
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 25px;
    margin-right: 100px; }
    .main-nav li a {
      color: #fff; }

.blue {
  text-align: center;
  color: #45555f; }

.home-overlay {
  padding-right: 30px;
  padding-left: 30px; }

.smart-watch {
  padding-left: 0;
  padding-right: 0; }

.search-wrap {
  position: relative;
  margin: 0 !important;
  margin-top: 22.5px !important;
  -moz-placeholder-color: white;
  -ms-input-placeholder-color: white; }
  .search-wrap input {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0;
    height: 25px;
    width: 190px; }
  .search-wrap ::-webkit-input-placeholder {
    color: white; }
  .search-wrap ::-moz-placeholder {
    color: white; }

.search-icon {
  position: absolute;
  left: 65px;
  top: 5px; }
  .search-icon img {
    width: 12px;
    height: auto; }

.blog-promo {
  background-color: #231f20;
  color: #ffffff;
  height: 281px; }

/*promo seciton */
.promo-background {
  background-color: #231f20; }

hr.yellow {
  display: inline-block;
  width: 30px;
  margin-bottom: 10px;
  border-top: 1px solid #cccccc; }

 .promo-text{
  padding:50px 0px;
  border-top:1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin:40px 0px;
 } 

 .left-menu{
  margin: 30px 0px;
 }

 .left-menu h4{
  border-bottom: 3px double #cccccc; 
  color:#45555f;
 }

.promo-text h2 {
  color: #EDA600; }

.promo-text button {
  color: #45555f;
  border: 1px solid #45555f;
  font-size: 18px; }

/*footer */
.footer {
  -moz-placeholder-color: white;
  -ms-input-placeholder-color: white; }
  .footer h6 {
    color: #EDA600;
    margin-bottom: 30px; }
  .footer li {
    font-size: 12px; }
  .footer .copyright {
    margin-top: 60px; }
  .footer input {
    width: 100%;
    border: 1px solid #666666;
    color:#666666;
    border-radius: 0; }
  .footer ::-webkit-input-placeholder {
    color: white; }
  .footer ::-moz-placeholder {
    color: white; }

.social-icons img {
  width: 35px;
  height: 35px; }

.orange {
  color: #EDA600 !important; }

.product-info{
  margin-bottom: 20px;
}

.product-title {
  font-size: 1.2em;
  margin:10px 0px;
  color:#45555f;
}  

.product-price{
  font-size:1.4em;
  margin-bottom:10px;
}

.left-navigation {
  margin:20px 0px;
}

.left-navigation li{
  list-style-type: none;
}

.left-navigation li a{
  color:#999999;
}

.left-navigation li a:hover{
  color:#45555f;
}

.product-loop{
  margin:40px 0px;
  text-align: center;
}

.product{
  transition: all 0.5s ease;
}

.product:hover{
  opacity:0.5;
}

.collection-header{
  background-image: url("collection-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

.collection-main-nav{
  height: 70px;
  background-color: rgba(56, 56, 56, 0.5);
  position: absolute;
  width: 100%;
  margin-top: -22px;
  padding: 0 50px;
}

.collection-main-nav ul {
    margin-left: 100px; }
  .collection-main-nav li {
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 25px;
    margin-right: 100px; }
    .collection-main-nav li a {
      color: #fff; }

  .collection-header .top-banner {
    color: #eda600;
    background-color: #ffffff;
    height: 60px;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .collection-header .top-banner p{
  }

.product-main{
  margin:40px 0px;
  color:#666666;

}

.options{
  border-top:1px solid #eeeeee;
  border-bottom:1px solid #eeeeee;
  padding-bottom: 20px;
}

.quantity{
  border-bottom:1px solid #eeeeee;
  margin:0px 0px;
  padding-bottom: 20px;

}

.quantity input{
  text-align: center;
  width:50px;
}

.description{
  padding:10px 0px;
}

.thumbnails{
  margin:10px 0px;
}

.product-add{
  margin:20px 0px;
  text-align: center;
}

.product-header{
  background-image: url("close-watch-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

.product-header .top-banner {
    color: #eda600;
    background-color: #ffffff;
    height: 60px;
    font-size: 14px;
    margin-bottom: 20px;
  }

.product-header .top-banner{
}  

.addtocart{
  background-color:#272f31;
  width:60%;
  color:#fff;
  border:0px;
  text-transform: uppercase;
  margin:10px 0px;
}

.addtocart a{
  color:#fff;
}

.addtocart:hover{
  background-color:#666666;
  color:#ffffff;
}

.loop-price{
  font-size:1em;
}

.promo{
  padding:10px 0px;
  color:teal;
}

.promo a{
  color:teal;
}

.cart-info {
  border-left:1px solid #666666;
  padding-left:40px;
}

.cart-detail{
  font-size:0.9em;
}

#quantity{
  width:20%;
  margin-left: 5px;
}

.cart-products{
  margin-top:20px;
}

.line-item{
  margin:10px 0px;
}

.home-header{
  font-size:56px;
  font-family: 'Playfair Display', serif;
}

.currency{
  color:#666666;
  padding-top:10px;
}

.cart{
  padding-top: 10px;
  color:#666666;
}

.overlay{
  color:#fff;
  position:absolute;
  z-index:1;
}

.promo-header{
  padding-top:10px;
}

@media (max-width: 768px) {
.hide-small{
  display:none;
}
}

/*# sourceMappingURL=style.css.map */
