body
	.header
		background-image: url('DARK-DOG_COLORED_CROPPED.jpg')
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		height: 700px
		position: relative
		nav
			color: white
			a
				color: white
			li
				margin: 0 30px
		.top-banner
			color: yellow
			background-color: grey
			opacity: .7
		.header-text
			position: absolute
			bottom: 100px
			left: 45px
			color: white
	.featured-collections
		img
			position: relative
		h3
			position: absolute
			color: white
			border-top: 3px solid white
			border-bottom: 3px solid white
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			margin: 0
	.free-shipping
		img
			position: relative
		span
			position: absolute
			color: white
			top: 50%
			left: 25%
			transform: translate(-50%,-50%)
			margin: 0
			font-size: 30px
		strong
			font-size: 50px
			text-transform: uppercase


	.content
		width: 100%
		-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.7)
		-moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.7)
		box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.7)

	.footer
		background-image: url('footer.jpg')
		background-size: cover
		background-repeat: no-repeat
		background-position: left
		height: 260px
		width: 100%
		opacity: .7
		padding: 50px 0
		padding-left: 300px
		position: relative
		a
			color: black

	.row
		margin-top: 7px
		margin-left: -12.5px
		margin-right: -12.5px
		div
			padding-left: 3.5px
			padding-right: 3.5px